@use '../../../styles/global.scss';
@use 'sass:color';
@use 'sass:map';

.feature {
  margin-bottom: var(--space-2xl);

  .container {
    @include global.container;

    h2 {
      text-align: center;
      color: global.$tertiary-color;
      font-weight: 600;
      margin-bottom: var(--space-xl);

      @media(max-width: map.get(global.$breakpoints, lg)) {
        margin-bottom: var(--space-l);
      }
    }
  }
}

.stack {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: start;
  gap: var(--space-m);

  @media(max-width: map.get(global.$breakpoints, lg)) {
    grid-template-columns: 1fr;
  }
}

.card {
  background: global.$card-bg;
  padding: var(--space-l) var(--space-m);
  transition: box-shadow 0.3s ease;

  &:hover {
    box-shadow: 0px 10px 30px rgba(0, 35, 71, 0.1);
  }

  .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    color: global.$tertiary-color;

    svg {
      width: var(--step-4);
      height: var(--step-4);
    }
  }

  h3 {
    color: global.$text-color2;
    font-weight: 500;
    margin-top: var(--space-s);
    margin-bottom: var(--space-2xs);
    text-align: center;
  }

  p {
    color: global.$text-color;
    text-align: justify;
    text-justify: inter-word;
    hyphens: auto;
    text-wrap: pretty;
    line-height: 1.7;

    a {
      text-decoration: underline;
      color: global.$link-color;
      transition: color 0.3s ease;

      &:hover {
        color: color.adjust(global.$link-color, $lightness: -30%);
      }
    }
  }
}
