@use '../../styles/global.scss' as global;

/* ================= LAYOUT ================= */
.container {
  display: flex;
  justify-content: center;
}

.formWrapper {
  width: 100%;
  max-width: 48rem;
  min-width: 48rem;
  padding: 0 1.5rem;
  box-sizing: border-box;

  @media (max-width: map-get(global.$breakpoints, md)) {
    min-width: auto;
    padding: 0 1rem;
  }
}

/* ================= HEADER ================= */
.header {
  text-align: center;
  margin-bottom: var(--space-l);
}

.mainTitle {
  font-size: var(--step-2);
  font-weight: 700;
  color: #0b3c5d;
}

/* ================= TITLE ================= */
.title {
  text-align: center;
  font-size: 1rem;
  font-weight: 600;
  color: #0b3c5d;
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
}

.subTitle {
  font-size: var(--step-2);
  font-weight: 600;
  margin-bottom: var(--space-s);
  color: #0b3c5d;
}

.sectionTitle {
  text-align: center;
  font-size: 1rem;
  font-weight: 600;
  color: #0b3c5d;
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
}

/* ================= REQUIRED SMALL TEXT ================= */
.requiredNote {
  text-align: center;
  font-size: 1rem;
  color: #5A5A5A ; // abu soft (mirip UIB)
  margin-top: 0.2rem;
  margin-bottom: 0.5rem;
}
