# ─── MySQL ────────────────────────────────────────────────
MYSQL_ROOT_PASSWORD=your-mysql-root-password
MYSQL_USER=admin
MYSQL_PASSWORD=your-mysql-password
MYSQL_DATABASE=pendaftaran-uib-db
MYSQL_TCP_TIMEOUT=5
MYSQL_READ_TIMEOUT=30
MYSQL_WRITE_TIMEOUT=30
MYSQL_MAX_OPEN_CONNS=100
MYSQL_MAX_IDLE_CONNS=25
MYSQL_MAX_LIFETIME_MIN=30
MYSQL_MAX_IDLE_LIFETIME_MIN=5
MYSQL_PORTS="3300:3300"
MYSQL_PORT=3300

# ─── MongoDB ────────────────────────────────────────────────
MONGO_USER=admin
MONGO_PASSWORD=your-mongo-password
MONGO_DATABASE=pendaftaran-uib-db
MONGO_URI=mongodb://admin:<your-mongo-password>@mongodb:27000
MONGO_CONNECT_TIMEOUT=15
MONGO_PING_TIMEOUT=10
MONGO_PORTS="27000:27000"
MONGO_PORT=27000

# ─── Email / SMTP ─────────────────────────────────────────────────────────────
# For development: use Mailpit service by Docker or Mailtrap
MP_UI_BIND_ADDR=0.0.0.0:6969
MP_SMTP_BIND_ADDR=0.0.0.0:1025
MP_MAX_MESSAGES=500
MP_SMTP_AUTH_ACCEPT_ANY=1
MP_SMTP_AUTH_ALLOW_INSECURE=1
MP_WEB_PORTS="6969:6969"
MP_SMTP_PORTS="1025:1025"
# Leave SMTP_USERNAME & SMTP_PASSWORD blank if use Mailpit
# SMTP_DISABLE_TLS=true if use Mailpit
SMTP_HOST=sandbox.smtp.mailtrap.io
SMTP_PORT=587
SMTP_USERNAME=your_mailtrap_username
SMTP_PASSWORD=your_mailtrap_password
SMTP_FROM=noreply@pendaftaran.uib.ac.id
SMTP_DISABLE_TLS=false

# ─── Backend ────────────────────────────────────────────────
# Generate with: openssl rand -base64 32
JWT_SECRET=your-very-secret-key-change-this
JWT_ISSUER=pendaftaran-uib
CORS_ORIGIN=http://localhost:8989
TURNSTILE_SECRET=your_turnstile_secret_key
TURNSTILE_EXPECTED_HOSTNAME=localhost
# Generate both NIK KEY with: openssl rand -hex 32
NIK_ENCRYPTION_KEY=your_nik_encrption_key_here
NIK_BLIND_INDEX_KEY=your_nik_blind_index_key_here
APP_ENV=development
APP_URL=http://localhost:8989
APP_HEALTH_URL=http://localhost:9999/health
SERVER_PORT=9999
BACKEND_PORTS="9999:9999"

# ─── Frontend ─────────────────────────────────────────────
NODE_ENV=development
BACKEND_URL=http://backend:9999
NEXT_PUBLIC_BASE_URL=http://localhost:8989
NEXT_PUBLIC_TURNSTILE_SITE_KEY=your_turnstile_public_key
FRONTEND_PORTS="8989:8989"
