POSTGRES_USER=admin
POSTGRES_PASSWORD=babualdo
POSTGRES_DB=pendaftaran-uib-db
POSTGRES_PORT=5432
POSTGRES_SSLMODE=disable
# `openssl rand -base54 32`, then rename this file to .env
JWT_SECRET=change-your-secret-key-here
SERVER_PORT=8888
POSTGRES_PORTS="5432:5432"
BACKEND_PORTS="8888:8888"
FRONTEND_PORTS="8989:8989"

