# ENV
.env
backend/.env
frontend/.env
frontend/.env.local
frontend/.env.*.local

# TEMP
tmp/
backend/tmp/

# BUILD / BIN
backend/*.exe
backend/*.exe~
backend/*.test
backend/*.out

# COVERAGE
backend/coverage/

# NODE
frontend/node_modules/
frontend/dist/

# SYSTEM
.DS_Store
Thumbs.db

# DEV CONFIG
backend/.air.toml
.gitignore
