.env*
node_modules/
.vscode/
/package-lock.json
/package.json
/pnpm-lock.yaml
/pnpm-workspace.yaml
tmp/
docker-compose.override.yaml
docker-compose.override.yml

backend/tmp/
backend/storage/
backend/.env
backend/coverage/
backend/*.exe
backend/*.exe~
backend/*.test
backend/*.out

frontend/node_modules/
frontend/pnpm-store/
frontend/pnpm-home/
frontend/dist/
frontend/.env*

storage/

.DS_Store
Thumbs.db
.codex
