DB_HOST=localhost
DB_PORT=5432
DB_USER=pendaftaran-uib
DB_PASSWORD=babualdo
DB_NAME=pendaftaran-uib-db
DB_SSLMODE=disable
# Generate your own new key with "openssl rand -base64 32"
# Then rename this file to .env
JWT_SECRET=
SERVER_PORT=8888

