@use 'sass:map';

$primary-color: #fdc632;
$secondary-color: #333;
$tertiary-color: #002347;
$background-color: #ffffff;
$card-bg: #f9f9ff;
$link-color: #4a76ee;
$text-color: #666;
$text-color2: #1a1c20;
$white: #fff;
$error-color: #FF0033;
$font-family: "Rubik Variable", "Poppins", sans-serif;

$breakpoints: (
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px,
  xxxl: 1600px
);

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
  xxl: 1320px,
  xxxl: 1520px
);

@mixin main-layout {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: calc(var(--space-2xl) + var(--space-xl)) 0 var(--space-2xl);
}

@mixin container {
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;

  @each $name, $container-width in $container-max-widths {
    @media (min-width: map.get($breakpoints, $name)) {
      max-width: $container-width;
    }
  }
}
