@use "@/styles/config.scss" as global;
@use "sass:map";

$input-bg: #f9f9ff;
$input-focus: #f0f4ff;
$input-border: #d0d5dd;
$primary: #29b6f6;
$primary-hover: #039be5;
$placeholder: #888;

$form-cap: 700px;

$container-form-max-widths: (
  sm: 540px,
  md: 640px,
  lg: $form-cap,
  xl: $form-cap,
  xxl: $form-cap,
  xxxl: $form-cap,
);

$input-error: #ef4444;
$danger: #ef4444;
$danger-hover: #dc2626;
$text-muted: #6b7280;
$text-dark: #0b3c5d;
$border-light: #ddd;
$bg-light: #f9fafb;

@mixin container-form {
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;

  @each $name, $container-width in $container-form-max-widths {
    @media (min-width: map.get(global.$breakpoints, $name)) {
      max-width: $container-width;
    }
  }
}

@mixin input-template {
  font-size: var(--step--1);
  font-family: global.$font-family;
  color: global.$text-color-dark;
  width: 100%;
  height: auto;
  min-height: 48px;
  background: $input-bg;
  outline: none;
  border: 1px solid $input-border;
  border-radius: 4px;
  padding: var(--space-2xs) var(--space-s);
  margin-bottom: var(--space-2xs);

  &::placeholder {
    color: $placeholder;
  }
  &:focus {
    background: $input-focus;
    border-color: $primary;
  }
}

@mixin submit-button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  padding: var(--space-xs) var(--space-m);
  gap: 1ch;

  font-size: var(--step--1);
  font-family: global.$font-family;
  font-weight: 600;
  color: global.$white;

  background: $primary;
  border: 1px solid $primary;
  border-radius: 999px;
  cursor: pointer;
  transition:
    background 0.2s,
    color 0.2s,
    border-color 0.2s;

  &:hover {
    background: transparent;
    color: $primary;
  }

  svg {
    width: 1em;
    height: 1em;
    transform: scale(1.2);
  }
}

@mixin button-base {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 1ch;
  border-radius: 999px;
  font-size: var(--step--1);
  font-family: global.$font-family;
  font-weight: 600;
  cursor: pointer;
  transition:
    background 0.2s,
    color 0.2s,
    border-color 0.2s;

  svg {
    width: 1em;
    height: 1em;
    transform: scale(1.2);
  }
}
