/* Don't remove it for sake of reference ~ Karenina Lovers */
/* :root { */
/*     font-family: system-ui, Avenir, Helvetica, Arial, sans-serif; */
/*     line-height: 1.5; */
/*     font-weight: 400; */
/**/
/*     color-scheme: light dark; */
/*     color: rgba(255, 255, 255, 0.87); */
/*     background-color: #242424; */
/**/
/*     font-synthesis: none; */
/*     text-rendering: optimizeLegibility; */
/*     -webkit-font-smoothing: antialiased; */
/*     -moz-osx-font-smoothing: grayscale; */
/* } */

// Variables
$primary-color: #fdc632;
$secondary-color: #333;
$tertiary-color: #002347;
$background-color: #eeeff1;
$link-color: #4a76ee;
$text-color: #666;
$text-color2: #1a1c20;
$white: #fff;
$font-family: 'Poppins', sans-serif;

$breakpoints: (
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px
);

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
  xxl: 1320px
);

// Mixins
@mixin container {
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;

  @each $name, $container-width in $container-max-widths {
    @media (min-width: map-get($breakpoints, $name)) {
      max-width: $container-width;
    }
  }
}

@mixin section-title {
  text-align: center;
  margin-bottom: 2rem;
  h2 {
    font-size: 2.5rem;
    font-weight: 600;
    color: $secondary-color;
  }
  p {
    color: $text-color;
  }
}

.html {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

// Reset & Base
*, *:before, *:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: $font-family;
  background-color: $background-color;
  line-height: 1.6;
  color: $text-color;
}

a {
  text-decoration: none;
}

