@use "@/styles/config.scss" as global;
@use "sass:map";

$primary: global.$tertiary-color;
$secondary: global.$primary-color;
$tertiary: global.$white;
$toast-error-text: #be123c;

.toast {
  font-size: var(--step--1) !important;
  font-family: global.$font-family;
  font-weight: 800;
  background-color: $primary !important;

  border: 1px solid $tertiary !important;
  border-radius: 8px !important;
  border-color: $secondary !important;

  position: fixed !important;
  left: 50% !important;
  transform: translateX(-50%) !important;
  width: max-content !important;
  margin-inline: 0 !important;

  @media (max-width: 590px) {
    transform: translateX(-50%) translateY(60%) !important;
  }
}

.toast-title {
  color: $secondary !important;
}

.toast-closeBtn {
  background-color: $tertiary !important;
  color: $primary !important;
  border-color: $primary !important;
}
