@use '../../../../styles/global.scss';

.program {
  padding: 5rem 0;
}

.title {
  @include global.section-title;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  gap: 2rem;
}

.container {
  @include global.container;
}