@use '../../../styles/config.scss' as global;
@use 'sass:map';

/* ================= LAYOUT ================= */
.container {
  display: flex;
  justify-content: center;
  padding: var(--space-2xl) 1rem;
}

.formWrapper {
  @include global.container-form;
  
  @media (max-width: map.get(global.$breakpoints, 'md')) {
    padding: 0 1rem;
  }
}

/* ================= HEADER ================= */
.header {
  text-align: center;
  margin-bottom: var(--space-l);
}

.mainTitle {
  font-size: var(--step-2);
  font-weight: 700;
  color: #0b3c5d;
}

.subTitle {
  font-size: var(--step-2);
  font-weight: 600;
  margin-bottom: var(--space-s);
  color: #0b3c5d;
}

/* ================= TITLES & SECTIONS ================= */
.sectionHeader {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: var(--space-2xs);
  margin-bottom: var(--space-s);
}

.title {
  font-size: var(--step-0);
  font-weight: 600;
  color: #0b3c5d;
  margin: var(--space-2xs) 0;
}

.sectionTitle {
  font-size: var(--step-0);
  font-weight: 600;
  color: #0b3c5d;

  text-align: center;              
  margin-top: var(--space-s);     
  margin-bottom: var(--space-2xs);  
}

.pageTitle {
  font-size: var(--step-1);
  font-weight: 600;
  color: #0b3c5d;
}

/* ================= REQUIRED NOTE ================= */
.requiredNote {
  font-size: var(--step--1);
  color: #5a5a5a;
  margin: 0 0 var(--space-s) 0;
}