@use '../../../../styles/global.scss';

.fitur {
  padding: 5rem 0;
  background: #f9f9f9;
}

.title {
  @include global.section-title;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

