@use '../../../../styles/global.scss';
@use 'sass:map';

.hero {
  position: relative;
  height: clamp(600px, 80vh, 900px);
  overflow: auto;
  text-align: center;
  background: url('../../../../assets/hero-bg.jpg') no-repeat center;
  background-size: cover;
  width: 100%;
  z-index: 99;

  .container {
    @include global.container;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
  }
}

.content {
  text-align: center;
  color: global.$tertiary-color;
  text-shadow: 0 0 15px rgba(255, 255, 255, 0.7), 0 0 5px rgba(255, 255, 255, 0.5);
  
  h1 {
    color: inherit;
    font-size: var(--step-4);
    font-weight: 500;
    text-transform: uppercase;
    margin-top: var(--space-xs);
    margin-bottom: var(--space-2xs);
  }

  p {
    color: inherit;
    font-size: var(--step-0);
    font-weight: 500;
    margin-top: var(--space-xs);
    margin-bottom: var(--space-xl);
  }
}

.heroButtons {
  display: flex;
  gap: var(--space-xs);
  justify-content: center;
  flex-wrap: wrap;

  a {
    display: inline-block;
    font-size: var(--step--2);
    font-weight: 500;
    padding: 0 var(--space-xl);
    border-radius: 5px;
    text-transform: uppercase;
    text-align: center;
    outline: none;
    cursor: pointer;
    border: 1px solid transparent;
    transition: all 0.3s ease;
  }

  .btnPrimary {
    display: inline-flex;
    align-items: center;
    background: global.$tertiary-color;
    color: global.$primary-color;
    min-height: 3rem;
    &:hover {
      background: transparent;
      color: global.$tertiary-color;
      border-color: global.$tertiary-color;
    }
  }

  .btnSecondary {
    display: inline-flex;
    align-items: center;
    background: global.$primary-color;
    color: global.$tertiary-color;
    min-height: 3rem;
    &:hover {
      background: global.$tertiary-color;
      color: global.$primary-color;
    }
  }
}

@media (max-width: map.get(global.$breakpoints, lg)) {
  .hero {
    padding-top: calc(var(--space-2xl) + var(--space-s));
    
    .container {
      justify-content: flex-start;
      padding-top: var(--space-l);
    }
  }
}
