@use '../../../../styles/global.scss';

.hero {
  position: relative;
  min-height: clamp(600px, 80vh, 900px);
  padding-block: clamp(4rem, 12vw, 9.375rem);
  text-align: center;
  background: url('../../../../assets/hero-bg.jpg') no-repeat center;
  background-size: cover;
  width: 100%;
  z-index: 98;

  .container {
    @include global.container;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    margin-top: var(--space-l);
  }
}

.content {
  text-align: center;
  color: global.$tertiary-color;
  
  h1 {
    color: inherit;
    /* font-size: 3rem; /* 48px */
    /* font-size: clamp(2rem, 4.5vw, 3rem); */
    font-size: var(--step-4);
    font-weight: 500;
    text-transform: uppercase;
    margin-top: var(--space-xs);
    margin-bottom: var(--space-2xs);
  }

  p {
    color: inherit;
    /* font-size: 1.25rem; /* 20px */
    /* font-size: clamp(1rem, 1.8vw, 1.25rem); */
    font-size: var(--step-0);
    font-weight: 500;
    margin-top: var(--space-xs);
    margin-bottom: var(--space-xl);
  }
}

.heroButtons {
  display: flex;
  gap: var(--space-xs);
  justify-content: center;
  flex-wrap: wrap;

  a {
    display: inline-block;
    /* font-size: 0.813rem; /* 0.813px */
    font-size: var(--step--2);
    font-weight: 500;
    /* padding: 0.8rem 3rem; */
    /* padding: 0 3rem; /* 48px */
    /* padding: 0 clamp(1.5rem, 3vw, 3rem); */
    padding: 0 var(--space-xl);
    border-radius: 5px;
    text-transform: uppercase;
    text-align: center;
    outline: none;
    cursor: pointer;
    border: 1px solid transparent;
    transition: all 0.3s ease;
  }

  .btnPrimary {
    display: inline-flex;
    align-items: center;
    background: global.$tertiary-color;
    color: global.$primary-color;
    min-height: 3rem;
    &:hover {
      background: transparent;
      color: global.$tertiary-color;
      border-color: global.$tertiary-color;
    }
  }

  .btnSecondary {
    display: inline-flex;
    align-items: center;
    background: global.$primary-color;
    color: global.$tertiary-color;
    min-height: 3rem;
    &:hover {
      background: global.$tertiary-color;
      color: global.$primary-color;
    }
  }
}

