@use '../../../styles/global.scss';

.program {
  padding: 5rem 0;
}

.title {
  @include global.section-title;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  gap: 2rem;
}

.programContainer {
  width: 100%;
  margin: 0 auto;
  padding: 0 16px;

  max-width: 1320px; // default (desktop besar)
}

/* responsive */
@media (max-width: 1399px) {
  .programContainer {
    max-width: 1140px;
  }
}

@media (max-width: 1199px) {
  .programContainer {
    max-width: 960px;
  }
}

@media (max-width: 991px) {
  .programContainer {
    max-width: 720px;
  }
}

@media (max-width: 767px) {
  .programContainer {
    max-width: 540px;
  }
}

@media (max-width: 575px) {
  .programContainer {
    max-width: 100%;
  }
}
