@use '../../../styles/global.scss' as global;

.card {
  border: 1px solid #eee;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 5px 15px rgba(0,0,0,0.05);
  transition: transform 0.3s, box-shadow 0.3s;

  img {
    width: 100%;
    height: 200px;
    object-fit: cover;
  }

  .content {
    padding: 1.5rem;

    .degree {
      background: global.$primary-color;
      color: global.$secondary-color;
      padding: 0.2rem 0.8rem;
      border-radius: 20px;
      font-size: 0.8rem;
      font-weight: 600;
      margin-right: 0.5rem;
    }

    .faculty {
      color: global.$text-color;
      font-size: 0.9rem;
    }

    h3 a {
      color: global.$secondary-color;
      &:hover {
        color: global.$primary-color;
      }
    }

    h3 {
      font-size: 1.45rem; // dari default (biasanya 1.25rem / 20px)
    }

    p {
      color: global.$text-color;
      font-size: 0.95rem;
      line-height: 1.6;
      display: -webkit-box;
      -webkit-line-clamp: 3;
      line-clamp: 3;
      -webkit-box-orient: vertical;
      overflow: hidden;

      &.expanded {
        display: block;
        -webkit-line-clamp: unset;
        line-clamp: unset;
        overflow: visible;
      }
    }

    .toggleBtn {
      margin-top: 0.5rem;
      font-size: 0.85rem;
      color: global.$primary-color;
      cursor: pointer;
      user-select: none;
    }
  }

  &:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 25px rgba(0,0,0,0.1);
  }
}