@use '@/styles/config.scss' as global;
@use '@/styles/formConfig.scss' as form;
@use 'sass:map';
@use 'sass:color';

.forgot {
  @include global.main-layout;
  align-items: center;
}

.container {
  @include form.container-form;

  h1 {
    font-size: var(--step-3);
    font-weight: 700;
    color: global.$secondary-color;
    text-align: center;
    letter-spacing: 0.06em;
    margin-bottom: var(--space-2xs);
  }

  input {
    @include form.input-template;
  }

  .loginlink {
    display: block;
    width: fit-content;
    font-size: var(--step--1);
    color: global.$link-color;
    text-align: left;
    text-decoration: underline;
    margin-bottom: var(--space-s);
    transition: color 0.3s ease;

    &:hover {
      color: color.adjust(global.$link-color, $lightness: -25%);
    }
  }

  .turnstile {
    margin-top: var(--space-2xs);
    margin-bottom: var(--space-s);
  }

  .resetBtn {
    @include form.submit-button;
  }
}
