@use '../../../styles/global.scss';
@use 'sass:map';

.gelombang {
  background: global.$tertiary-color;
  color: global.$white;
  padding: 130px 0 100px;
}

.container {
  @include global.container;
}

.title {
  font-family: 'Rubik', sans-serif;
  text-align: center;
  max-width: 540px;
  margin: 0 auto 85px;

  h2 {
    color: global.$white;
    font-size: 36px;
    line-height: 30px;
    font-weight: 700;
    margin-bottom: 15px;
  }
  hr {
    border: 1px solid global.$white;
    width: 100%;
    margin: 0.5rem auto;
  }
  .sub {
    color: global.$white;
    margin-bottom: 15px;
  }
  p {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 25px;
    color: rgba(255,255,255,0.8);
    margin-bottom: 0;
    font-style: normal;
  }
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  justify-items: center;
  gap: 30px;
  margin-top: 0;
}

@media (max-width: map.get(global.$breakpoints, lg)) {
  .gelombang {
    padding: 70px 0;
  }

  .title {
    max-width: 100%;
    margin-bottom: 40px;

    h2 {
      font-size: 30px;
      margin-bottom: 10px;
    }
  }
}

@media (max-width: map.get(global.$breakpoints, lg)) {
  .grid {
    grid-template-columns: 1fr;
    gap: 20px;
  }
}
