.gelombangTitle {
  width: 14rem;
  height: var(--step-3);
  margin: 0 auto var(--space-s);
}

.gelombangSubtitle {
  width: 20rem;
  height: var(--step-0);
  margin: 0 auto;
}

.gelombangCard {
  width: 100%;
  height: 20rem;
}
