@use '../../../../styles/global.scss';

.video {
  h3 {
    color: global.$secondary-color;
    margin-bottom: 0.5rem;
  }
  p {
    color: global.$text-color;
    margin-bottom: 1rem;
  }
  iframe {
    border-radius: 8px;
  }
}

