@use '../../../../styles/global.scss';
@use 'sass:map';

.panduan {
  padding: 130px 0 100px;
}

.container {
  width: 100%;
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 15px;
}

.title {
  text-align: center;
  max-width: 540px;
  margin: 0 auto 85px;

  h2 {
    font-family: 'Rubik Variable', 'Poppins', sans-serif;
    color: global.$tertiary-color;
    font-size: 36px;
    line-height: 30px;
    font-weight: 800;
    font-style: normal;
    margin-bottom: 15px;
  }
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 30px;
}

@media (max-width: map.get(global.$breakpoints, lg)) {
  .panduan {
    padding: 70px 0 40px;
  }

  .title {
    margin-bottom: 40px;

    h2 {
      font-size: 30px;
      margin-bottom: 10px;
    }
  }

  .grid {
    grid-template-columns: 1fr;
  }
}
