@use '../../styles/global.scss';

.header {
  background: transparent;
  position: sticky;
  top: 0;
  .container {
    @include global.container;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 5rem;
  }
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
}

.menu {
  display: inherit;
  flex-wrap: wrap;
  justify-content: inherit;
  align-items: inherit;
  list-style: none;
  gap: 2rem;
  li a {
    font-size: 1rem;
    color: global.$secondary-color;
    font-weight: 700;
    transition: all 0.3s ease-in-out;
    &:hover {
      color: global.$primary-color;
    }
  }
}

.toggler {
  display: none;
  cursor: pointer;
  border: none;
  background: transparent;
  
  .iconBar {
    display: block;
    width: 1.563rem;
    height: 0.188rem;
    margin: 0.313rem auto;
    background-color: global.$primary-color;
    transition: all 0.3s;
  }
}

@media (max-width: 992px) {
  .toggler {
    display: block;
  }

  .menuContainer {
    display: none;

    &.show {
      display: block;
    }

    .menu {
      flex-direction: column;
      align-items: left;
      gap: 2rem;
    }
  }
}

