@use "@/styles/config.scss" as global;
@use "@/styles/formConfig.scss" as form;
@use "sass:map";

.resetPassword {
  @include global.main-layout;
}

.container {
  @include form.container-form;

  h1 {
    font-size: var(--step-2);
    font-weight: 700;
    color: global.$secondary-color;
    text-align: center;
    letter-spacing: 0.06em;
    margin-bottom: var(--space-m);
  }

  input {
    @include form.input-template;
  }

  .submitBtn {
    @include form.submit-button;
    margin-top: var(--space-m);
  }
}

.invalid {
  text-align: center;
  color: global.$text-color;
  font-size: var(--step--1);
}
