@use '@/styles/config.scss' as global;
@use '@/styles/form.scss';
@use 'sass:color';

.register {
  @include form.form;
  align-items: flex-start;
}

.container {
  @include global.container-form;
  text-align: center;

  h1 {
    font-size: var(--step-3);
    font-weight: 700;
    color: global.$secondary-color;
    letter-spacing: 0.06em;
  }

  p {
    font-size: var(--step--1);
    color: global.$text-color;
    margin-bottom: var(--space-m);
  }


  form {
    text-align: left;
    margin-bottom: var(--space-s);

    label {
      font-size: var(--step--1);
      color: global.$text-color2;
    }

    input {
      @include form.input-template;
    }
  }

  .turnstile {
    display: flex;
    margin: var(--space-xs) 0;
  }

  .registerBtn {
    @include form.submit-button;
  }

  .backLogin {
    font-size: var(--step--1);
    color: global.$text-color;
    text-align: center;
    margin-top: var(--space-2xs);

    a {
      color: global.$link-color;
      font-weight: 600;
      transition: color 0.2s ease;

      &:hover {
        text-decoration: underline;
        color: color.adjust(global.$link-color, $lightness: 10%);
      }
    }
  }
}
